body {
  font-family: monospace;
  color: #EFFAF9;
  background-color: #000000;
}

.content {
  display: grid;
  grid-auto-flow: dense;
  max-width: 80ch;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: cornsilk;
}

b, strong {
  color:  #EDF060;
}

pre {
  font-family:  "BQN";
  overflow: overlay;
  max-width: fit-content;
}

code {
  color:  #EDF060;
  background-color:  #101800;
}

details p {
  margin: 0;
}

input {
  max-width: fit-content;
}

pre {
  border-radius:  3px 3px 3px 3px;
  background-color:  #303030;
}

blockquote {
  color:  #AAD3F8;
  border-left:  8px solid #B08889;
  max-width: fit-content;
}

pre.example {
  border-left:  8px solid #493657;
}

img {
  display:  block;
  height: auto;
  margin:  auto;
  border-radius:  5px;
}

figure > object {
  height: auto;
  margin: auto;
}

a {
  font-weight:  inherit;
  line-height:  inherit;
  color:  #84DCC6;
}

a:hover {
  text-decorac: blink;
  color: #C43952;
  background-color: #222222;
}

table {
  border-style: outset;
  max-width: fit-content;
  overflow-x: overlay;
}

table th.left, table td.left {
  text-align:  left;
}

table th.right, table td.right {
  text-align:  right;
}

/* searchform*/
/* #searchform { */
/*   position:  absolute; */
/*   top:  54px; */
/*   right:  30.4%; */
/* } */
/* #searchform #s { */
/*   background:  url("/media/img/search.png") no-repeat 5px 6px; */
/*   box-shadow:  inset 0 1px 1px rgba(0,0,0,0.1); */
/*   border:  1px solid #ddd; */
/*   border-radius:  2px; */
/*   -moz-border-radius:  2px; */
/*   width:  90px; */
/*   height:  30px; */
/*   line-height:  12px; */
/*   padding:  4px 10px 4px 28px; */

/*   -webkit-transition-duration:  80ms; */
/*   -webkit-transition-property:  width, background; */
/*   -webkit-transition-timing-function:  ease; */
/*   -moz-transition-duration:  80ms; */
/*   -moz-transition-property:  width, background; */
/*   -moz-transition-timing-function:  ease; */
/*   -o-transition-duration:  80ms; */
/*   -o-transition-property:  width, background; */
/*   -o-transition-timing-function:  ease; */
/* } */
/* #searchform #s: focus { */
/*   background-color:  #3F3F37; */
/*   width:  160px; */
/* } */

div #text-index {
  color:  #EDF060;
  display:  none;
  text-align:  left;
  backdrop-filter: blur(6px);
}

#org-div-home-and-up {
  display: inline-flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

button {
  border: none;
  background-color: black;
  color: silver;
  font-size: 16px;
  cursor: pointer;
}

button:hover {background: #3F3F37; color:#EDF060;}
.show {float:right;}
.hide {float:right;}
.home {float:left; font-size:24px;}
.up {float:left; font-size:24px;}

header { margin: 0; padding: 0; }
header h1 { margin: 0; padding: 0; }

/* table of content */
#table-of-contents h2 { color: palevioletred; padding: 0; margin: 0; text-align: right;}

#table-of-contents {
  cursor: pointer;
  z-index:  11;
  position: fixed;
  top: 0;
  right: 0;
}

#table-of-contents li {
  list-style:  none;
}

#table-of-contents #text-table-of-contents {
  backdrop-filter: blur(6px);
  display:  none;
  position: sticky;
  height: 100vh;
  overflow-y: overlay;
}

.subtitle {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}

.tag {
  float: right;
  color: #8A7090;
}

h3 .tag {
  right: 0px;
  position: absolute;
  color: lightpink;
}

.org-center {
  text-align: center;
}

.org-dl dt {
  font-weight: bold;
}

.title {
  text-align: center;
}

.status {
  display: flex;
  flex-flow: row-reverse;
}

.org-org-ref-acronym {
  /* org-ref-acronym-face */
  color: #ee7600;
  text-decoration: underline;
}

.org-org-ref-cite {
  /* org-ref-cite-face */
  color: #c3d5c3;
  text-decoration: underline;
}

.org-org-ref-glossary {
  /* org-ref-glossary-face */
  color: #8968cd;
  text-decoration: underline;
}

.org-org-ref-label {
  /* org-ref-label-face */
  color: #8b008b;
  text-decoration: underline;
}

.org-org-ref-ref {
  /* org-ref-ref-face */
  color: #e1cc96;
  text-decoration: underline;
}

.org-org-scheduled {
  /* org-scheduled */
  color: #006400;
}

.org-org-scheduled-previously {
  /* org-scheduled-previously */
  color: #b22222;
}

.org-org-scheduled-today {
  /* org-scheduled-today */
  color: #006400;
}

.org-org-sexp-date {
  /* org-sexp-date */
  color: #a020f0;
}

.org-org-special-keyword {
  /* org-special-keyword */
  color: #a020f0;
}

.org-org-todo {
  /* org-todo */
  color: #ff0000;
  font-weight: bold;
}

.org-org-done {
  /* org-done */
  color: #85BB41;
  font-weight: bold;
}

.org-org-upcoming-deadline {
  /* org-upcoming-deadline */
  color: #b22222;
}

.org-org-upcoming-distant-deadline {
  /* org-upcoming-distant-deadline */
  color: #000000;
  background-color: #ffffff;
}

.org-org-warning {
  /* org-warning */
  color: #ff0000;
  font-weight: bold;
}

div #footnotes {
  padding: 1em;
}

h1:target {
  color: #F0753C;
}

.PROJECT {
  color: lightseagreen;
  font-weight: bold;
}
.NOTE {
  color: lemonchiffon;
  font-weight: bold;
}
.PRODUCT {
  color: olivedrab;
  font-weight: bold;
}
.RELEASE {
  color: maroon3;
  font-weight: bold;
}
.CODE {
  color: bisque;
  background-color: midnightblue;
  font-weight: bold;
}
.HOLD {
  color: red1;
  font-weight: bold;
  background-color: yellow1;
}
.WAIT {
  color: red;
  font-weight: bold;
  background-color: yellow1;
}
.WIP {
  color: darkorchid;
  font-weight: bold;
}
.NOPE {
  color: hotpink;
  font-weight: bold;
  background-color: darkgreen;
}
.RESEARCH {
  color: maroon;
  font-weight: bold;
}
.DONE {
  color: green;
  font-weight: bold;
}
.TODO {
  color: red;
  font-weight: bold;
}
.TEST {
  color: orange;
  font-weight: bold;
}
.TBD {
  color: darkred;
  font-weight: bold;
}
.HACK {
  color: coral;
  font-weight: bold;
}
.SPRINT {
  color: violet;
  font-weight: bold;
}
